body {
  font-family: 'Amatic SC', cursive;
}

a{
  color: black;
}

#imagenRio {
  width: 100%;
  height: 150px;
}

.imgSuperior {
  position: fixed;
  width: 100%;
  height: 200px;
  z-index: 2;
}

.content {
  position: relative;
  top: 20px;
  z-index: 1;
}

.row {
  text-align: center;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.inicio {
  background-color: rgba(131,106,15,1);
}

.actual {
  background-color: rgba(193,180,135,1);
}

#miFoto {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  color: rgba(170,168,182,0.5);
  border: 2px solid;
}

#myInformation {
  content: "";
  display: block;
  padding-top: 250px;
  margin-top: 0px;
}

.myInfo {
  width: 60%;
  height: 350px;
  margin: auto;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  grid-gap: 20px;
}

.myInfo p {
  font-family: 'Shadows Into Light', cursive;
  text-align:   center  ;
}

#myLanguages {
  position: relative;
  width: 60%;
  margin: auto;
  font-family: 'Lobster', cursive;
  padding-top: 250px;
  margin-top: -250px;

}

.lenguajes {
}

#skills {
  position: relative;
  top: 50px;
  margin: auto;
  width:  60%;
  font-family:  'Lobster';
  padding-top: 250px;
  margin-top: -250px;
}

.programacion {
  display:  grid;
  width: 600px;
  grid-template: 200px / repeat(4 , 1fr);
  grid-gap:   80px;
  justify-content:  center;
  align-content:  center;
}

.imgCoding {
  height:   150px;
  width:  150px;
}

.porcentajes {
  display: grid;
  margin: auto;
  grid-template: repeat(3, 2fr) / 1fr 1fr;
  color: black;
  grid-row-gap: 10px;
}

.idioma {
  width: 100%; /* Full width */
  height: 40px;
  background-color: #ddd; /* Grey background */

}

#Español {
  height: 40px;
  width: 100%;
  background-color: rgba(112,250,28,0.7);
} /* Amarillo */

#Ingles {
  width: 90%;
  height: 40px;
  background-color: rgba(183,250,28,0.7)
} /* Amarillo */

#Frances {
  width: 70%;
  height: 40px;
  background-color: rgba(213,250,28,0.7)
} /* Amarillo */


h1{
  font-size: 50px;
}

h2{
  font-size: 50px;
}

.barra a {
  color: black;
}
