
html {
  height: 100%;
}
/* Caracteristicas Body */
body {
  min-height: 100%;
  font-family: 'Teko', sans-serif;
}

/* Tamaño de los titulos h1*/
h1{
  font-size: 2.5rem;
}

/*Tamaño de los titulos h2*/
h2{
  font-size: 2.5rem;
}

/* Caracteristicas background */
.bg {
  padding: 5% 0%;
  /* The image used */
  background-image: url("Imagenes/JirafasFondo.png");

  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  min-height: 100vh;
}

/* Primer barra con nombre y bienvenida */
.nomPrincipal {
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255,69,0,0.2);
  width: 100%;
}

/*Caracteristicas barra navegación*/
.row {
  background-color: rgba(255,127,80,0.4);
  text-align: center;
  font-size: 1.75rem;
}

/* Hacer la barra del ancho de la pantalla*/
.container-fluid {
   width: 100%;
}

/*Letras en negro para las barras*/
.row a {
  color: black;
}