se ve asi
y he buscado un montonnn y no se si se pueda solucionar o si es por el formato de la imagen
La idea es que la imagen ocupe todo?
yo creeria que para ser responsive deberia ocuparla toda no ? y me parece que se ve mejo r
Lo tienes en un repositorio público?
yesss espera le hago push esta en github
https://github.com/lmaya10/PaginaPersonal
ya le hice push
Pega esto en style
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.bg {
  padding: 5% 0%;
  /* The image used */
  background-image: url("Imagenes/JirafasFondo.png");

  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  min-height: 100vh;
  background-color: rgba(233, 93, 3, 0.4);
}

.nomPrincipal {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
}

.barra {
  background-color: rgba(232,151,105,0.4);
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}


h1{
  font-size: 50px;
}

h2{
  font-size: 50px;
}

.barra a {
  color: black;
}