body {

}

#paisaje   {
  width: 100%;
  height: 150px;
}

.imgSuperior {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.contenido {
  position: relative;
  top: 300px;
  z-index: 1;
}

.contactMe {
  margin: auto;
  display: grid;
  align-content: center;
  width: 500px;
  height: 400px;
  grid-template: repeat(4, 1fr)/ 30% 70%;
}

.contactMe p {
  font-size: 120%
  font-family: 'Teko', sans-serif;
}

.barra {
  background-color: rgba(247,244,13,1);
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}

.barra a {
  color:black;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 50px;
}

.imgIcono {
  width: 50px;
  height: 50px;
}

.contenido h2{
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

a {
  color: black;
}
