
html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Amatic SC', cursive;
}

.bg {
  padding: 5% 0%;
  /* The image used */
  background-image: url("Imagenes/JirafasFondo.png");

  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  min-height: 100vh;
}

.nomPrincipal {
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(199 ,155,111,0.6);
  width: 100%;
}


.row {
  background-color: rgba(232,151,105,0.6);
  text-align: center;
  font-size: 1.75rem;
}

.container-fluid {
   width: 100%;
}

.row a {
  color: black;
}


h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2.5rem;
}

.barra a {
  color: black;
}